html{
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-family: "Work sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #6C6F73;
    font-weight: 300;
    letter-spacing: -.02em;
}
.main{
    background-color: #084f8e;
    background-image: url(./sky2.png), linear-gradient(0deg, #084f8e, #083466 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    /* overflow: hidden; */
    overflow-x: hidden;
}
#logo{
    font-family: 'Montserrat';
    color: white;
    font-weight: 700;
    font-size: 25px;

}
a
{
    text-decoration: none;
    color: white;
}

.rndBtn{
    font-family: Raleway-SemiBold;
    letter-spacing: 1px;
    line-height: 15px;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
    width: 69px;
    height: 35px;
    background: white;
    border: none;
    color: black;
    font-size: 17px;
}
.newsletter-subscribe {
    color: #313437;
    background: linear-gradient(#0071b1, #02aabb);
    padding: 55px 74px;
  }
  
  .newsletter-subscribe p {
    color: white;
    line-height: 1.5;
  }
  
  .newsletter-subscribe h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
  }
  
  .newsletter-subscribe .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
    
  }
  
  .newsletter-subscribe .intro p {
    margin-bottom: 0px;
  }
  
  .newsletter-subscribe form {
    justify-content: center;
  }
  
  .newsletter-subscribe form .form-control {
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 250px;
  }
  
  .newsletter-subscribe form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
  }
  
  .newsletter-subscribe form .btn:hover {
    opacity: 1;
  }
  
  .newsletter-subscribe form .btn:active {
    transform: translateY(1px);
  }
  
  .newsletter-subscribe form .btn-primary {
    background-color: #055ada !important;
    color: #fff;
    outline: none !important;
  }
  
  /* body {
    background: #eee;
  }
   */
  .newsletter {
    color: white !important;
  }
  .mt-5, .my-5 {
    margin-top: 10rem !important;
}
.newsletter-subscribe .container-fluid
{
    
    height: 45vh;
}
.outer-box
{
    background-color: #87e4ef;
    max-height: 84px;
    border-radius: 7px;
    width: 33vw;
    /* margin-left: 27vw; */
    min-width: 250px;
}
#sunimon
{
    height: 39px;
    width: 56px;
    padding: 10px;
    padding-right: 87px;
}
.banner{
  margin-top: 17vh;
  height: 67vh;


}
.moon{
  margin-left: 18rem;
}
.moon img{
 
  box-shadow: 0rem 0rem 11rem #ccc;
  -webkit-border-radius: 10rem;
  animation-name: scale-in;
  animation-duration: .6s;
  
}
@keyframes scale-in {
  0% {
    height: 15rem;
  }
  100% {
    height: 20rem;
  }
}
.start{
  color: white;
   position: absolute;
   padding-left: 43vw;
   width: 100%;
}
.start button{
  width: 16vw;
  height: 50px;
  border-radius: 1rem;
  color: #084f8e;
  font-size: 1.5rem;
  margin-top: 5vh;
  min-width: fit-content;
}
.start button:hover{
  box-shadow: rgb(181,251,152)0px 0px 10px 0px;
}
.whatis{
  background-color: white;
}
.que{
  width: 27vw;
}
.padding-0{
  padding-bottom:0;
  
}
footer{
  background-color: #262f36;
 
}